<html>
<head>
    <title>Companys</title>
</head>
<body>
<h1>Companys</h1>
<a href="/company/add">Add New company</a> <br /> <br />
<table border="1">
    <tr><th>Name</th><th>Future living space of Address</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/company/?company_name="><%= result[i].company_name %></a></td>
        <td><%= result[i].company_name %></td>
        <td><form action="/company/delete/">
                <input type="hidden" name="company_id" id="company_id" value="<%= result[i].company_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>